/*    @font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: 5rem;
    src: local('SEGA LOGO FONT'), url('C:/users/patri/my-app/src/SEGA.woff') format('woff');
    }

*/
h1 {
	font-weight: 1000;
	color: #0ccac4;
}

.center {
    display: flex;
    justify-content: center;
}

a{
    text-transform: cap;
}